{ 
	"appKey":"h36gapxahhurprhksabjp6sqhja3ig7npbv5lfa7",
	"secret":"4e66e9979027fa1c69c7b478b846877a",
	"type":"online_tts|offline_tts|online_asr|offline_asr|wakeup",
	"online_asr":
	{
		"engine":"general|poi|song|movietv|medical"",
		"frontTime":2000ms-5000ms,
		"backTime":200ms-3000ms,
		"rate":AUTO|8K|16K,
		"language":"USCSpeechUnderstander.LANGUAGE_CHINESE|USCSpeechUnderstander.LANGUAGE_ENGLISH|USCSpeechUnderstander.LANGUAGE_CANTONESE",
		"farFiled":true|false,
		"scene":"场景(暂不知怎么用)",
		"address":"服务器地址(未使用)"
	},
	"offline_asr":{},
	
	"online_tts":
	{
		"debug":true|false,设置调试模式
		"streamType":AudioManager.STREAM_VOICE_CALL|AudioManager.STREAM_SYSTEM|AudioManager.STREAM_RING|AudioManager.STREAM_MUSIC|AudioManager.STREAM_ALARM|AudioManager.STREAM_NOTIFICATION,设置音频流
	},
	"offline_tts":{"":"","":""}
}


